
        <table class="content__table" id="content-table" >
            {{{ data }}}
         <!--   <thead>
                <td class="name">Name</td>
                <td class="type">Type</td>
                <td class="size">Size</td>
                <td class="modified">Modified</td>
                <td class="created">Created</td>
            </thead>

            <tr>
                <td class="name">img.jpg</td>
                <td class="type">Jpeg image</td>
                <td class="size">57 KB</td>
                <td class="modified">12-05-2021</td>
                <td class="created">12-06-2021</td>
            </tr>

            <tr>
                <td class="name">img.jpg</td>
                <td class="type">Jpeg image</td>
                <td class="size">57 KB</td>
                <td class="modified">12-05-2021</td>
                <td class="created">12-06-2021</td>
            </tr>-->
        </table>


          
        <!--if grid style on-->
        <!--<div class="item">
                <div class="item__preview">
                    <img src="" alt="">
                </div>
                <p class="item__name">index.html</p>
            </div>-->

