.product {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: rgb(197, 197, 197);
  padding: 10px 0;
  width: 250px;
  margin: 15px;

  border-radius: 10px;
}

.product__img {
  width: 100%;
  height: 100%;
}
.product__print {
  position: absolute;

  width: 140px;
  height: 100px;

  top: 45px;
  right: 55px;
  transform: rotateZ(-20grad);
}

.product:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.product__title {
  margin-left: 20px;
}

.product__price {
  color: red;
  margin-right: 20px;
  font-size: 20px;
  align-self: flex-end;
}

.products-info {
  text-align: center;
}
