<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <style>
        
           .server-error {
               display: flex;
               flex-direction: column;
               justify-content: center;
               align-items: center;
                background-color: lightseagreen;
            }
 
 .server-error h1{
     color:red;
     font-size: 3rem;
 }

 .server-error p{
   
     font-size: 2rem;
 }
        
    </style>
</head>
<body>
    <div class="server-error">
    <h1>Error 404</h1>
     <p>Something went wrong</p>
     </div>
</body>
</html>